* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
}

a {
  text-decoration: none;
  color: $dark-color;
}

p {
  color: $dark-color;
}

ul {
  list-style: none;
}
