.navbar {
  display: flex;
  align-items: center;
  padding: 16px 20px;
}

nav {
  flex: 1;
  text-align: right;

  ul {
    display: flex;
    gap: 22px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: max-height 0.35s ease-in-out;
    overflow: visible;
    max-height: none;

    li {
      display: block;
      margin: 0;

      a { padding: 8px 6px; display: inline-block; }
    }
  }
}

.menu-icon {
  display: none;
  background: transparent;
  border: 0;
  padding: 6px;
}

.btn {
  @include button-style;
  margin: 20px 0;

  &:hover { background: #563434; }
}

.rating {
  .fa { color: $primary-color; }
}
