.header {
  background: radial-gradient($light-color, #ffd6d6);

  .row {
    margin-top: 70px;
  }
}

.categories {
  margin: 70px 0;
}

.offer {
  background: radial-gradient($light-color, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.testimonial {
  padding-top: 100px;

  .col-3 {
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    cursor: pointer;
    @include transition(transform);

    &:hover {
      transform: translateY(-10px);
    }

    img {
      width: 50px;
      border-radius: 50%;
      margin-top: 20px;
    }
  }
}
