// Colors
$primary-color: #ff523b;
$dark-color: #555;
$light-color: #ffffff;
$gray-color: #777;
$footer-bg: #000;

// Fonts
$primary-font: "Poppins", sans-serif;

// Sizes
$container-width: 1300px;
$small-container-width: 1080px;
